@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background-color: #fdf4f4;
  color: #fff;
}

:root {
  --color-principal: #006252;
  --color-secundario: #C8FF1E;
  --color-opt1: #F0DCFE;
  --color-opt2: #9AE6B4;
  --color-black: #000;
}

::selection {
  background: #006252;
}

.bg-login {
  background-image: url('/fondo.jpg');
  background-size: cover;
  background-position: center;
}

.swiper-pagination-bullet {
  background: #000000 !important;
}

.swiper-pagination-bullet-active {
  background: #006252 !important;
}

.slider-horizontal {
  display: flex;
  animation: swipe 5000ms linear infinite backwards;
}

@keyframes swipe {
  0% {
    transform: translate(0);
  }

  100% {
    transform: translate(-100%);
  }
}