@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background-color: #fdf4f4;
  color: #fff;
}

:root {
  --color-principal: #006252;
  --color-secundario: #C8FF1E;
  --color-opt1: #F0DCFE;
  --color-opt2: #9AE6B4;
}

::selection {
  background: #006252;
}

.degradedBlue {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  padding: 5px 0;
}

.swiper-pagination-bullet {
  background: #000000 !important;
}

.swiper-pagination-bullet-active {
  background: #006252(0, 178, 218, 0.6) !important;
}

.slider-horizontal {
  display: flex;
  animation: swipe 5000ms linear infinite backwards;
}

@keyframes swipe {
  0% {
    transform: translate(0);
  }

  100% {
    transform: translate(-100%);
  }
}